body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
    background-color: mediumspringgreen;
    background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
    background-repeat: repeat;
  
    background-color: mediumaquamarine;
  }
  
  html {
    position: relative;
    min-height: 100%
  }
  
  .navbar {
    border-bottom: 1px solid #efefef;
  }
  
  .logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    background-color: #4aaaa5;
    padding: 10px;
    color: #fff !important;
  }
  
  main {
    margin: 80px 0;
  }
  
  /* ------------------------- */
  /* other styles will be here */
  /* ------------------------- */
  
  .row {
    background-color: mintcream;
    margin-left: 0;
    padding: 20px;
  }
  
  .page-header {
    color: #0a6863;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
  .photo {
    width: 200px;
    float: left;
    margin-right: 15px;
  }
  
  p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
  }
  
  .footer {
    height: 62px;
    border-top: 6px solid #4aaaa5;
    margin-top: 3px;
    background-color: #666;
    padding-top: 14px;
    color: #fff;
  }
  
  /* Portfolio page */
  
  .image {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  /* Contact page */
  
  .contact-field {
    background-color: whitesmoke;
    margin-left: 25px;
    padding: 20px;
  }
  
  .btn btn-primary {
    background-color: teal;
    margin: 20px;
  }
  
  .form-control {
    margin-bottom: 20px;
  }