.navbar {
    background-color: lightcyan;
}
.title-name {
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: darkgreen;  
  font-size: 1.75rem;
  padding: 0 0.5rem;
  border-radius: 10px;
}

.nav-link {    
  font-weight: 500;
  color:darkgreen;
}

.active {
  color: #0E5A40 !important;
}